/* Background */ .highlight .chroma { color: #f8f8f2; background-color: #272822 }
/* Error */ .highlight .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .highlight .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .highlight .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
/* LineHighlight */ .highlight .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .highlight .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
/* LineNumbers */ .highlight .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .highlight .chroma .k { color: #66d9ef }
/* KeywordConstant */ .highlight .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .highlight .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .highlight .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .highlight .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .highlight .chroma .kr { color: #f92672 }
/* KeywordType */ .highlight .chroma .kt { color: #66d9ef }
/* NameAttribute */ .highlight .chroma .na { color: #a6e22e }
/* NameClass */ .highlight .chroma .nc { color: #a6e22e }
/* NameConstant */ .highlight .chroma .no { color: #66d9ef }
/* NameDecorator */ .highlight .chroma .nd { color: #a6e22e }
/* NameException */ .highlight .chroma .ne { color: #a6e22e }
/* NameFunction */ .highlight .chroma .nf { color: #f8f8f2 }
/* NameOther */ .highlight .chroma .nx { color: #a6e22e }
/* NameTag */ .highlight .chroma .nt { color: #f92672 }
/* Literal */ .highlight .chroma .l { color: #ae81ff }
/* LiteralDate */ .highlight .chroma .ld { color: #e6db74 }
/* LiteralString */ .highlight .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .highlight .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .highlight .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .highlight .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .highlight .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .highlight .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .highlight .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .highlight .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .highlight .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .highlight .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .highlight .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .highlight .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .highlight .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .highlight .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .highlight .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .highlight .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .highlight .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .highlight .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .highlight .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .highlight .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .highlight .chroma .mo { color: #ae81ff }
/* Operator */ .highlight .chroma .o { color: #f92672 }
/* OperatorWord */ .highlight .chroma .ow { color: #f92672 }
/* Comment */ .highlight .chroma .c { color: #75715e }
/* CommentHashbang */ .highlight .chroma .ch { color: #75715e }
/* CommentMultiline */ .highlight .chroma .cm { color: #75715e }
/* CommentSingle */ .highlight .chroma .c1 { color: #75715e }
/* CommentSpecial */ .highlight .chroma .cs { color: #75715e }
/* CommentPreproc */ .highlight .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .highlight .chroma .cpf { color: #75715e }
/* GenericDeleted */ .highlight .chroma .gd { color: #f92672 }
/* GenericEmph */ .highlight .chroma .ge { font-style: italic }
/* GenericInserted */ .highlight .chroma .gi { color: #a6e22e }
/* GenericStrong */ .highlight .chroma .gs { font-weight: bold }
/* GenericSubheading */ .highlight .chroma .gu { color: #75715e }
